body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:#333
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    margin-left: 50%; 
    transform: translateX(-50%); 
    height: 100vh; 
  }
  
  .flag {
    float: left; 
    width: 40%;
    background-color: rgb(31, 166, 193);
    padding: 20px;
    box-sizing: border-box;
    height: 110vh; 
  }

  .content {
    float: right;
    width: 60%;
    border-radius: 0 8px 8px 0;
    padding: 20px;
    box-sizing: border-box;
    height: 110vh; 

  }

  .pic {
    transform: translate(-50%, 0);
    left: 50%;
    position: relative;
    width: 60%;
    aspect-ratio: 1;
    height: auto;
    border-radius: 200px;
    object-fit: cover;
    object-position: 50% 20%;

    
  }

  h1 {
    text-align: center;
    color: black;
  }
  
  h2 {
    color: black;
  }
  
  .ulxd {
    list-style: none;
    padding: 0;
  }

  h3 {
    color: #333;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  section {
    margin-bottom: 20px;
  }

  
  
  